In [8]:
import pandas as pd
import numpy as np
import sqlite3
import os.path
from sqlalchemy import create_engine
from matplotlib import pyplot as plt
pd.set_option("display.max_rows",15)
%matplotlib inline

In [9]:
conn = create_engine('sqlite:///../dataset/ijcai_cff_2017.db')

In [10]:
train_data = pd.read_sql_query("select * from train_data", con = conn)
train_data

      shop_id                          ts  total_view  total_pay
0         159  2015-07-01 00:00:00.000000         NaN        1.0
1         159  2015-07-02 00:00:00.000000         NaN        1.0
2         159  2015-07-03 00:00:00.000000         NaN        1.0
3         159  2015-07-04 00:00:00.000000         NaN        1.0
4         159  2015-07-05 00:00:00.000000         NaN        1.0
5         159  2015-07-06 00:00:00.000000         NaN        1.0
6         159  2015-07-09 00:00:00.000000         NaN        1.0
...       ...                         ...         ...        ...
1666      572  2016-10-25 00:00:00.000000         6.0      398.0
1667      572  2016-10-26 00:00:00.000000        13.0      393.0
1668      572  2016-10-27 00:00:00.000000        18.0      405.0
1669      572  2016-10-28 00:00:00.000000        10.0      428.0
1670      572  2016-10-29 00:00:00.000000         9.0      495.0
1671      572  2016-10-30 00:00:00.000000        11.0      477.0
1672      572  2016-10-31 00:00:00.000000         5.0      365.0

[1673 rows x 4 columns]